text-transform: uppercase;
text-align: center;

}
.card{
  background-color: #pink;
  width:40%;
  margin: auto;
  padding: 2px 0px 2px 0px;
  border-radius: :15px;
  box-shadow: 2px 2px 2px black;

}
.cards
{
  display: flex;

}
@media (min-device-width:320px) and (max-device-width:800px) {
 .cards
 {
   width:98%;
   flex-wrap: wrap;
   margin: 1%;
 }
.card{
  width:98%;
  margin-top: 2em;
}
}
